################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Self Tracker/bin
/Self Tracker/obj
